# =========================
# 🐍 Python Environment
# =========================
myenv/
venv/
.env/

# =========================
# 🧠 Cache / Compiled
# =========================
__pycache__/
*.pyc

# =========================
# 📓 Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# 🧪 Debug / Temp / Output
# =========================
debug/
output/
*.log

# =========================
# 🍎 macOS
# =========================
.DS_Store